Estos datos fueron previamente utilizados en el experimento de psicología cognitiv y representan diferentes condiciones de un experimento.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

## Obtener datos

In [4]:
df = pd.read_csv('globos.csv')
df.head()

   YELLOW  SMALL  STRETCH  ADULT  T
0  YELLOW  SMALL  STRETCH  CHILD  T
1  YELLOW  SMALL      DIP  ADULT  T
2  YELLOW  SMALL      DIP  CHILD  F
3  YELLOW  SMALL      DIP  CHILD  F
4  YELLOW  LARGE  STRETCH  ADULT  T

## Procesar datos

Ya que el modelo solo acepta valores numéricos y el dataset contiene valores nominales es necesario antes del entrenamiento encodear los valores para que tengan un valor numérico.

In [13]:
le = preprocessing.LabelEncoder()
df = df.apply(le.fit_transform)
df.head()

   YELLOW  SMALL  STRETCH  ADULT  T
0       1      1        1      1  1
1       1      1        0      0  1
2       1      1        0      1  0
3       1      1        0      1  0
4       1      0        1      0  1

### Obtener subconjunto de atributos

### Obtener subconjunto de clases

## Crear conjuntos de entrenamiento y prueba

## Entrenar modelo

## Obtener prediciones

## Comprobar las predicciones